    {% extends 'annotate/base.html' %}

        {% block content %}
            <!-- use buttons instead of links? -->
            <div class="container-fluid">
            <!--<input id="all_frame_types" name="all_frame_types" value="{{ request.session.all_frame_types }}" hidden>
            <input id="all_verbs" name="all_verbs" value="{{ request.session.all_verbs }}" hidden>-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <h3 style="color:darkred">{{ message }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <h3>Unannotated Records (<span id="nr_selection_not_annotated_frames">{{ nr_current_unannotated }}</span> / {{ nr_all_unannotated }}):</h3>
                                <table class="tablesorter records" id="table_unannotated_records">
                                    <thead>
                                        <tr>
                                            <th  class="col-md-4">verb</th>
                                            <th class="col-md-8">frame_type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="searchbar_not_annotated_frames">
                                            <td class="col-md-3"><input type="text" size="6" placeholder="verb:" value="{{search_filter_unannotated.search_verb}}" id="searchbox_not_annotated_frames_search_verb"> <span class="search_button"   title="search: type the beginning of the verb (case-sensitive)" onclick="change_records_view('not_annotated_frames', 'search_verb', $('#searchbox_not_annotated_frames_search_verb').val())">&#128269;</span> <span class="search_button"   title="reset field" onclick="change_records_view('not_annotated_frames', 'search_verb', '')">&#10683;</span></td>
                                            <td class="col-md-3"><input type="text" size="15" placeholder="frame_type:" value="{{search_filter_unannotated.search_frame}}" id="searchbox_not_annotated_frames_search_frame"><span class="search_button"   title="search: type the beginning of the frame (case sensitive)" onclick="change_records_view('not_annotated_frames', 'search_frame', $('#searchbox_not_annotated_frames_search_frame').val())">&#128269;</span> <span class="search_button"   title="reset field" onclick="change_records_view('not_annotated_frames', 'search_frame', '')">&#10683;</span></td>
                                        </tr>
                                        {% for e in not_annotated_frames %}
                                            <tr name="record_of_not_annotated_frames" class='clickable-row' data-href="frame_{{ e.position }}_{{ e.sentence_id }}">
                                                <td  class="col-md-4"><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.verb_lemma }}{{ e.verb_addition }}</a></td>
                                                <td class="col-md-8"><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.f_type }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pager" id="pager_unannotated">
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" onclick="change_records_view('not_annotated_frames', 'first',0)"/>
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" onclick="change_records_view('not_annotated_frames', 'prev',0)"/>
                                     <!--<span class="pagedisplay"></span> this can be any element, including an input -->
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next"  onclick="change_records_view('not_annotated_frames', 'next',0)"/>
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" onclick="change_records_view('not_annotated_frames', 'last',0)"/>
                                    <select class="pagesize" title="Select page size">
                                        {% with "25 50 100 250 6000" as list %}
                                            {% for i in list.split %}
                                                {% if i == search_filter_unannotated.count %}
                                                    <option selected="selected" value="{{i}}" onclick="change_records_view('not_annotated_frames', 'number_elements', {{i}})">{{i}}</option>
                                                {% else %}
                                                        <option value="{{i}}" onclick="change_records_view('not_annotated_frames', 'number_elements', {{i}})">{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                    <!--<select class="gotoPage" title="Select page number"></select>-->
                                </div>
                                <!--{% for e in not_annotated_frames %}
                                    {% if forloop.counter == 1 %}
                                        <div id="list_of_records_{{ forloop.counter }}">
                                            <ul id="list_of_records_{{ forloop.counter }}" class="frame_links">
                                                <li><a href="frame_{{ e.position }}_{{ e.sentence_id }}"> {{ e.verb_lemma }}{{ e.verb_addition }} ({{ e.f_type }}, {{ e.sentence_id }})</a></li>
                                    {% elif forloop.counter|modulo:50  %}
                                            </ul>
                                            <a class="btn synnonym_button" data-toggle="collapse" href="#list_of_records_{{ forloop.counter }}" role="button" aria-expanded="false" aria-expanded="false" id="button_show_synonyms">
                                                Show more records <i class="fa fa-chevron-down" id="unannotated_more" onclick="rotate_arrow('unannotated_more')"></i>
                                            </a>
                                        </div>

                                        <div class="collapse" id="list_of_records_{{ forloop.counter }}">
                                            <ul id="list_of_records_{{ forloop.counter }}" class="frame_links">
                                                <li><a href="frame_{{ e.position }}_{{ e.sentence_id }}"> {{ e.verb_lemma }}{{ e.verb_addition }} ({{ e.f_type }}, {{ e.sentence_id }})</a></li>
                                    {% else %}
                                        <li><a href="frame_{{ e.position }}_{{ e.sentence_id }}"> {{ e.verb_lemma }}{{ e.verb_addition }} ({{ e.f_type }}, {{ e.sentence_id }})</a></li>
                                    {% endif %}
                                    {% if forloop.counter == not_annotated_frames|length %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}-->
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <div class="row">
                                <h3> Annotation in Progress (<span id="nr_selection_frames_in_progress">{{  nr_current_inprogress}}</span> / {{ nr_all_inprogress }}):</h3>
                                <table class="tablesorter records" id="table_progress_records">
                                    <thead>
                                        <tr>
                                            <th class="col-md-3" >verb</th>
                                            <th class="col-md-2" >sent_id</th>
                                            <th class="col-md-3" >frame_type</th>
                                            <th class="col-md-1"  ></th>
                                            <th class="col-md-3" name="table_header_progress">last change at</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="searchbar_frames_in_progress">
                                            <td class="col-md-3"><input type="text" size="6" placeholder="verb:" value="{{search_filter_inprogress.search_verb}}" id="searchbox_frames_in_progress_search_verb"> <span class="search_button"  title="search: type the beginning of the verb (case-sensitive)"  onclick="change_records_view('frames_in_progress', 'search_verb', $('#searchbox_frames_in_progress_search_verb').val())">&#128269;</span> <span class="search_button"  title="field" onclick="change_records_view('frames_in_progress', 'search_verb', '')">&#10683;</span></td>
                                            <td class="col-md-2"><input type="text" size="7" placeholder=" sent_id:" value="{%if search_filter_inprogress.search_sent_id %}{{search_filter_inprogress.search_sent_id}}{% endif %}"  id="searchbox_frames_in_progress_search_sent_id"> <span class="search_button"  title="search: type the exact sentence id"  onclick="change_records_view('frames_in_progress', 'search_sent_id', $('#searchbox_frames_in_progress_search_sent_id').val())">&#128269;</span> <span class="search_button"  title="reset field" onclick="change_records_view('frames_in_progress', 'search_sent_id', undefined)">&#10683;</span></td>
                                            <td class="col-md-3"><input type="text" size="15" placeholder="frame_type:" value="{{search_filter_inprogress.search_frame}}" id="searchbox_frames_in_progress_search_frame"><span class="search_button" title="search: type the beginning of the frame (case sensitive)" onclick="change_records_view('frames_in_progress', 'search_frame', $('#searchbox_frames_in_progress_search_frame').val())">&#128269;</span> <span class="search_button"  title="reset field" onclick="change_records_view('frames_in_progress', 'search_frame', '')">&#10683;</span></td>
                                            <!--<td class="col-md-1"><select  size="1" id="searchbox_frames_in_progress_certainty">
                                                {% for i in "12345" %}{%if search_filter_inprogress.search_certainty == forloop.counter %} <option onclick="change_records_view('frames_in_progress', 'search_certainty', {{ forloop.counter }})" selected="selected" value="{{forloop.counter}}"> {{forloop.counter}}</option>{% else %} <option onclick="change_records_view('frames_in_progress', 'search_certainty', {{ forloop.counter }})" value="{{forloop.counter}}"> {{forloop.counter}}</option> {% endif %}{% endfor %} </select></td>-->
                                            <td class="col-md-1"></td>
                                            <td class="col-md-3"></td>
                                        </tr>
                                        {% for e in frames_in_progress %}
                                            <tr name="record_of_frames_in_progress" class='clickable-row' data-href="frame_{{ e.position }}_{{ e.sentence_id }}" title='Preview: "{% for t in e.sentence.token.all %}{% if t.position >= e.position|minus:5 and t.position <= e.position|add:5 %}{{ t.word_form }} {% endif %}{% endfor %}"'>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.verb_lemma }}{{ e.verb_addition }}</a></td>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.sentence_id }}</a></td>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.f_type }}</a></td>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">
                                                    {% if e.certainty == 1 %}
                                                        <span class="certainty_1">&#x2460;</span>
                                                    {% elif e.certainty == 2 %}
                                                        <span class="certainty_2">&#x2461;</span>
                                                    {% elif e.certainty == 3 %}
                                                        <span class="certainty_3">&#x2462;</span>
                                                    {% elif e.certainty == 4 %}
                                                        <span class="certainty_4">&#x2463;</span>
                                                    {% elif e.certainty == 5 %}
                                                        <span class="certainty_5">&#x2464;</span>
                                                    {% endif %}
                                                </a>
                                                </td>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.timestamp|date:"d.m.Y H:i" }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pager" id="pager_progress">
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" onclick="change_records_view('frames_in_progress', 'first',0)"/>
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" onclick="change_records_view('frames_in_progress', 'prev',0)"/>
                                     <!--<span class="pagedisplay"></span> this can be any element, including an input -->
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next"  onclick="change_records_view('frames_in_progress', 'next',0)"/>
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" onclick="change_records_view('frames_in_progress', 'last',0)"/>
                                    <select class="pagesize" title="Select page size">
                                        {% with "25 50 100 250 6000" as list %}
                                            {% for i in list.split %}
                                                {% if i == search_filter_inprogress.count %}
                                                    <option selected="selected" value="{{i}}" onclick="change_records_view('frames_in_progress', 'number_elements', {{i}})">{{i}}</option>
                                                {% else %}
                                                        <option value="{{i}}" onclick="change_records_view('frames_in_progress', 'number_elements', {{i}})">{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                    <!--<select class="gotoPage" title="Select page number"></select>-->
                                </div>
                            </div>
                            <div class="row">
                                <h3>Annotated Records (<span id="nr_selection_annotated">{{ nr_current_annotated }}</span> / {{ nr_all_annotated }}):</h3>
                                <table class="tablesorter records" id="table_annotated_records">
                                    <thead>
                                        <tr>
                                            <form>
                                                {% csrf_token %}
                                                <th class="col-md-3" id="head_verb" name="table_header">verb</th>
                                                <th class="col-md-2" id="head_sent_id"  name="table_header">sent_id</th>
                                                <th class="col-md-3" id="head_frame_type" name="table_header">frame_type</th>
                                                <th class="col-md-1" id="head_certainty"   name="table_header"></th>
                                                <th class="col-md-3" id="head_last_change" name="table_header">last change at</th>

                                            </form>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="searchbar_annotated">
                                            <td class="col-md-3"><input type="text" size="6" placeholder="verb:" value="{{search_filter_annotated.search_verb}}" id="searchbox_annotated_search_verb"> <span class="search_button"  title="search: type the beginning of the verb (case-sensitive)"  onclick="change_records_view('annotated', 'search_verb', $('#searchbox_annotated_search_verb').val())">&#128269;</span> <span class="search_button"  title="reset field" onclick="change_records_view('annotated', 'search_verb', '')">&#10683;</span></td>
                                            <td class="col-md-2"><input type="text" size="7" placeholder=" sent_id:" value="{%if earch_filter_annotated.search_sent_id %}{{search_filter_annotated.search_sent_id}}{% endif %}" id="searchbox_annotated_search_sentid"> <span class="search_button" title="search: type the exact sentence id" onclick="change_records_view('annotated', 'search_sent_id', $('#searchbox_annotated_search_sent_id').val())">&#128269;</span> <span class="search_button"  title="reset field" onclick="change_records_view('annotated', 'search_sent_id', undefined)">&#10683;</span></td>
                                            <td class="col-md-3"><input type="text" size="15" placeholder="frame_type:" value="{{search_filter_annotated.search_frame}}" id="searchbox_annotated_search_frame"><span class="search_button" title="search: type the beginning of the frame (case sensitive)" onclick="change_records_view('annotated', 'search_frame', $('#searchbox_annotated_search_frame').val())">&#128269;</span> <span class="search_button"  title="reset field" onclick="change_records_view('annotated', 'search_frame', '')">&#10683;</span></td>
                                            <!--<td class="col-md-1"><select  size="1" id="searchbox_annotated_certainty">{% for i in "12345" %}{%if search_filter_annotated.search_certainty == forloop.counter %} <option onclick="change_records_view('annotated', 'search_certainty', {{ forloop.counter }})" selected="selected" value="{{forloop.counter}}"> {{forloop.counter}}</option>{% else %} <option onclick="change_records_view('annotated', 'search_certainty', {{ forloop.counter }})" value="{{forloop.counter}}"> {{forloop.counter}}</option> {% endif %}{% endfor %} </select></td>-->
                                            <td class="col-md-1"></td>
                                            <td class="col-md-3"></td>
                                        </tr>
                                        {% for e in annotated_frames %}
                                            <tr name="record_of_annotated" class='clickable-row' data-href="frame_{{ e.position }}_{{ e.sentence_id }}" title='Preview: "{% for t in e.sentence.token.all %}{% if t.position >= e.position|minus:5 and t.position <= e.position|add:5 %}{{ t.word_form }} {% endif %}{% endfor %}"'>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.verb_lemma }}{{ e.verb_addition }}</a></td>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.sentence_id }}</a></td>
                                                <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.f_type }}</a></td>
                                                <td>
                                                    <a href="frame_{{ e.position }}_{{ e.sentence_id }}">
                                                    {% if e.certainty == 1 %}
                                                        <span class="certainty_1">&#x2460;</span>
                                                    {% elif e.certainty == 2 %}
                                                        <span class="certainty_2">&#x2461;</span>
                                                    {% elif e.certainty == 3 %}
                                                        <span class="certainty_3">&#x2462;</span>
                                                    {% elif e.certainty == 4 %}
                                                        <span class="certainty_4">&#x2463;</span>
                                                    {% elif e.certainty == 5 %}
                                                        <span class="certainty_5">&#x2464;</span>
                                                    {% endif %}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="frame_{{ e.position }}_{{ e.sentence_id }}">
                                                        {{ e.timestamp|date:"d.m.Y H:i" }}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pager" id="pager">
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" onclick="change_records_view('annotated', 'first',0)"/>
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" onclick="change_records_view('annotated', 'prev',0)"/>
                                     <!--<span class="pagedisplay"></span> this can be any element, including an input -->
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next"  onclick="change_records_view('annotated', 'next',0)"/>
                                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" onclick="change_records_view('annotated', 'last',0)"/>
                                    <select class="pagesize" title="Select page size">
                                        {% with "25 50 100 250 6000" as list %}
                                            {% for i in list.split %}
                                                {% if i == search_filter_annotated.count %}
                                                    <option selected="selected" value="{{i}}" onclick="change_records_view('annotated', 'number_elements', {{i}})">{{i}}</option>
                                                {% else %}
                                                        <option value="{{i}}" onclick="change_records_view('annotated', 'number_elements', {{i}})">{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                    <!--<select class="gotoPage" title="Select page number"></select>-->
                                </div>

                            </div>
                            <div class="row">
                                <h3>Skipped Records (<span id="nr_selection_skipped">{{ nr_current_skipped }}</span> / {{ nr_all_skipped }}):</h3>
                                <table class="tablesorter records" id="table_skipped_records">
                                        <thead>
                                            <tr>
                                                <th class="col-md-3" >verb</th>
                                                <th class="col-md-2" >sent_id</th>
                                                <th class="col-md-3" >frame_type</th>
                                                <th class="col-md-1" ></th>
                                                <th class="col-md-3" >last change at</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="searchbar_skipped">
                                                <td class="col-md-3"><input type="text" size="6" placeholder="verb:" value="{{search_filter_skipped.search_verb}}" id="searchbox_skipped_search_verb"> <span class="search_button" title="search: type the beginning of the verb (case-sensitive)"  onclick="change_records_view('skipped', 'search_verb', $('#searchbox_skipped_search_verb').val())">&#128269;</span><span class="search_button" title="reset field" onclick="change_records_view('skipped', 'search_verb', '')">&#10683;</span></td>
                                                <td class="col-md-2"><input type="text" size="7" placeholder=" sent_id:" value="{%if search_filter_skipped.search_sent_id %}{{search_filter_skipped.search_sent_id}}{% endif %}" id="searchbox_skipped_search_sent_id"> <span class="search_button" title="search: type the exact sentence id" onclick="change_records_view('skipped', 'search_sent_id', $('#searchbox_skipped_searched_sent_id').val())">&#128269;</span><span class="search_button"  title="reset field" onclick="change_records_view('skipped', 'search_sent_id', undefined)">&#10683;</span></td>
                                                <td class="col-md-3"><input type="text" size="15" placeholder="frame_type:" value="{{search_filter_skipped.search_frame}}" id="searchbox_skipped_search_frame"><span class="search_button" title="search: type the beginning of the frame (case sensitive)" onclick="change_records_view('skipped', 'search_frame', $('#searchbox_skipped_frame').val())">&#128269;</span><span class="search_button" title="reset field" onclick="change_records_view('skipped', 'search_frame', '')">&#10683;</span></td>
                                                <!--<td class="col-md-1"><select  size="1" id="searchbox_skipped_certainty">{% for i in "12345" %}{%if search_filter_skipped.search_certainty == forloop.counter %} <option onclick="change_records_view('skipped', 'search_certainty', {{ forloop.counter }})" selected="selected" value="{{forloop.counter}}"> {{forloop.counter}}</option>{% else %} <option onclick="change_records_view('skipped', 'search_certainty', {{ forloop.counter }})" value="{{forloop.counter}}"> {{forloop.counter}}</option> {% endif %}{% endfor %}</select></td>-->
                                                <td class="col-md-1"></td>
                                                <td class="col-md-3"></td>
                                            </tr>
                                            {% for e in skipped_frames %}
                                                <tr name="record_of_skipped"  class='clickable-row' data-href="frame_{{ e.position }}_{{ e.sentence_id }}"  title='Preview: "{% for t in e.sentence.token.all %}{% if t.position >= e.position|minus:5 and t.position <= e.position|add:5 %}{{ t.word_form }} {% endif %}{% endfor %}"'>
                                                    <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.verb_lemma }}{{ e.verb_addition }}</a></td>
                                                    <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.sentence_id }}</a></td>
                                                    <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">{{ e.f_type }}</a></td>
                                                    <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">
                                                        {% if e.certainty == 1 %}
                                                            <span class="certainty_1">&#x2460;</span>
                                                        {% elif e.certainty == 2 %}
                                                            <span class="certainty_2">&#x2461;</span>
                                                        {% elif e.certainty == 3 %}
                                                            <span class="certainty_3">&#x2462;</span>
                                                        {% elif e.certainty == 4 %}
                                                            <span class="certainty_4">&#x2463;</span>
                                                        {% elif e.certainty == 5 %}
                                                            <span class="certainty_5">&#x2464;</span>
                                                        {% endif %}
                                                    </a>
                                                    </td>
                                                    <td><a href="frame_{{ e.position }}_{{ e.sentence_id }}">
                                                        {{ e.timestamp|date:"d.m.Y H:i" }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="pager" id="pager_skip">
                                        <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" onclick="change_records_view('skipped', 'first', 0)"/>
                                        <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" onclick="change_records_view('skipped', 'prev',0)"/>
                                         <!--<span class="pagedisplay"></span> this can be any element, including an input -->
                                        <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next"  onclick="change_records_view('skipped', 'next',0)"/>
                                        <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" onclick="change_records_view('skipped', 'last',0)"/>
                                        <select class="pagesize" title="Select page size">
                                        {% with "25 50 100 250 6000" as list %}
                                            {% for i in list.split %}
                                                {% if i == search_filter_skipped.count %}
                                                    <option selected="selected" value="{{i}}" onclick="change_records_view('skipped', 'number_elements', {{i}})">{{i}}</option>
                                                {% else %}
                                                        <option value="{{i}}" onclick="change_records_view('skipped', 'number_elements', {{i}})">{{i}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                        <!--<select class="gotoPage" title="Select page number"></select>-->
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <script src='../static/js/search_boxes_overview.js' type="text/javascript"></script>
            </div>
        {% endblock %}
